# Optional dependencies
schema-salad

# For testing
tox
nose
coverage

# For dev
sphinx
sphinx_rtd_theme
recommonmark

# Used to check readme.
readme

# Used for code checking.
pyflakes
flake8

# For release
wheel
twine

nose
