# Optional dependencies
schema-salad[pycodegen]
# Needs to validate v1.2
cwltool>=3.0.20200807132242

# To check type annotations
mypy

# For testing
tox
pytest
coverage

# To build docs
-r docs/requirements.txt

# Used to check readme.
readme

# Used for code checking.
pyflakes
flake8

# For release
wheel
twine
