# Optional dependencies
schema-salad[pycodegen]
# Needs to validate v1.2
cwltool>=3.0.20200807132242


mypy

# For testing
tox
pytest
coverage

# For dev
sphinx
sphinx_rtd_theme
recommonmark

# Used to check readme.
readme

# Used for code checking.
pyflakes
flake8

# For release
wheel
twine
